.animated-image .ss {
  animation: bounce 1s ease infinite alternate;
}

.animated-image .ss {
  transition: transform 0.9s ease;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-3px);
  }
}

@media (max-width: 1320px) {
  .princi {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .first {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .third {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
}

@media (max-width: 500px) {
  .bar {
    display: none;
  }
}

.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
