#preloader-5 span {
  position: absolute;
  width: 68px;
  height: 68px;
  border: 5px solid #fff;
  border-radius: 999px;
  animation: radar 2s infinite linear;
  opacity: 0;
}

#preloader-5 span:nth-child(1) {
  animation-delay: 0s;
}
#preloader-5 span:nth-child(2) {
  animation-delay: 0.66s;
}
#preloader-5 span:nth-child(3) {
  animation-delay: 1.33s;
}

@keyframes radar {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@media (max-width: 900px) {
  .team {
    display: flex;
    flex-direction: column;
  }
}
